.leaflet-container {
  height: 100vh;
}
/* THIS HAS TO STAY HERE FOR THE MAP TO PROPERLY RENDER */

.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  